body,div {
   background-color:lightgreen;
}
.lver {
   width:28%;
   /* border:1pt green solid;
   background-color:red; */
   display:inline-block;
   vertical-align:top;
   padding-left:15px;
   padding-right:15px;
}
.onecol { 
   width:600px;
}
.cols {
   /* display:inline; */
}
